:root {
    --bg-main: #1ABC9C;
    --white: #fff;
}

.bg-main {
    background-color: var(--bg-main);
    color: var(--white);
}

.btn-main-style {
    background-color: var(--bg-main);
    color: var(--white); 
}

.contact-me .btn-main-style {
    background-color: var(--bg-main);
    color: var(--white);
}

.hero .skills {
    margin: 0 auto;
    max-width: 75vw;
}


.decoration::before {
    content: '';
    display: block;
    height: 4px;
    width: 15%;
    min-width: 50px;
    background-color: currentColor;
    border-radius: 999px;
}

.decoration::after {
    content: '';
    display: block;
    height: 4px;
    width: 15%;
    min-width: 50px;
    background-color: currentColor;
    border-radius: 999px;
}

.hero .col .skills li.after::after{
    content: '-';
    display: inline;
    padding-left: 0.75rem;
}

.footer-first .opensource p {
    max-width: 400px;
    margin: 0 auto;
}

@media (min-width: 1100px) {
    .contact-me .contact-list ul{
        height: 400px;
    }
}

@media (min-width: 760px) {
    .contact-me .contact-list ul{
        height: 300px;
    }
}

@media (min-width: 250px) {
    .contact-me .contact-list ul{
        height: 200px;
    }
}

