.decoration::before {
    content: '';
    display: block;
    height: 4px;
    width: 15%;
    min-width: 50px;
    background-color: currentColor;
    border-radius: 999px;
}

.decoration::after {
    content: '';
    display: block;
    height: 4px;
    width: 15%;
    min-width: 50px;
    background-color: currentColor;
    border-radius: 999px;
}

.hero .col .skills li.after::after{
    content: '-';
    display: inline;
    padding-left: 0.75rem;
}

